.resident {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 59, 0.4), rgba(8, 0, 58, 0.4)),
    url(../../Images/larry-roberts.png);
  background-size: cover;
  background-position: center;
}
.resident h3 {
  text-align: right;
  padding-top: 200px;
  font-size: 90px;
  padding-right: 30px;
}
.resident p {
  text-align: right;
  padding-right: 70px;
  font-size: 26px;
}

.resident .btn {
  padding: 14px 25px;
  font-size: 16px;
  background: var(--branding-color);
  color: #000000;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.resident .btn:hover {
  border: 1px solid var(--branding-color);
}
